.custom-navbar{
    background-color: black;
    height: 100px;
}
.heading{
    font-weight: bold;
    font-size: 29px;
    color: white;
}
.c{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /* border: 1px solid green; */
    /* color: white;
    background-color: black; */
    height: 100vh;
    background-color: rgb(200, 217, 185);
}
.col1{
    background-color: rgb(79, 78, 78);
    height: 84%;
    /* margin-top: 20px; */
    margin-left: 50px;
    border-radius: 5%;
}
.col2{
    background-color: rgb(79, 78, 78);
    height: 6%;
    margin-top: 20px;
    margin-left: 10px ;
    border-radius: 10px;
}
.col2 p{
    font-size: 20px;
    color: white;
    margin-top: 10px;
    margin-left: 25px;
}
.col3{
    background-color: rgb(79, 78, 78);
    height: 20%;
    border-radius: 5%;
}
.col4{
    background-color: rgb(79, 78, 78);
    height: 20%;
    margin-left: 30px;
    border-radius: 5%;
}
.col5{
    background-color: rgb(79, 78, 78);
    height: 20%;
    margin-left: 30px;
    border-radius: 5%;
}
.col6{
    background-color: rgb(79, 78, 78);
    height: 20%;
    border-radius: 10px;
}